h2, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-style: italic;
}
.Calorie {
    width:60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: flex-start;
    margin-top: 20px;
    background-image:url('https://images.pexels.com/photos/1547248/pexels-photo-1547248.jpeg?auto=compress&cs=tinysrgb&w=600');
    border-radius: 25px;
    box-shadow: 0 0 7px 4px rgb(63, 57, 57, 0.5);
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #f1f1f1;
  }
  
  input, select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #bbb;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
    transition: border-color 0.3s ease-in-out;
  }
  
  select {
    width: 100%;
  }
  
  input[type="number"] {
    width: 100%;
  }
  
  input:focus, select:focus {
    outline: none;
    border-color: #2fd36e;
    box-shadow: 0 0 5px #1fce19;
  }
  
  input[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #005ea8;
  }
  
  /* Custom styles for specific form elements */
  
  label[for="age"] {
    color: #0077cc;
  }
  
  label[for="sex"] {
    color: #0077cc;
  }
  
  label[for="weight"] {
    color: #0077cc;
  }
  
  label[for="height"] {
    color: #0077cc;
  }
  
  select {
    background-color: #f1f1f1;
    color: #333;
    border: 2px solid #bbb;
  }
  
  select option {
    background-color: #fff;
    color: #333;
  }
  .borderless-button {
    background-color:transparent;
    border-radius: 25px;
    border-bottom: #bbb;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    transition: all 0.3s ease;
  }
  
  .borderless-button:hover {
    text-decoration: underline;
    background-color: #4d6577;
  }
  button{
    float: right;
  }
  
  

  
  


  