.carousel-item img{
max-width: 100%;
height: auto;
object-fit: cover;
}
@media only screen and(max-width:768px) {
    .carousel-item img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        }
}
@media only screen and(max-width:480px) {
    .carousel-item img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        }
}